body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  height: 40vh;
}

h2 {
  font-family: Caveat;
  color: #257ca3;
}

.sm-icon {
  height: 4vh;
}

textarea {
  resize: none;
  font-family: Poppins;
  font-style: italic;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Carousel component */

.slider-container .slick-dots {
  position: absolute;
  bottom: -1.8rem; 
  left: 49%; 
  transform: translateX(-50%);
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gap between the dots */
.slider-container .slick-dots li {
  padding-right: 10px;
}

.slider-container .slick-dots li button:before {
  content: "";
  position: absolute;
  width: 12px; 
  height: 12px; 
  background-color: #e4dec9; 
  opacity: 0.8; 
  border-radius: 40px;
}

.slider-container .slick-dots li.slick-active button:before {
  background-color: #396d7c;
  object-fit: cover;
}

.slider-container .slick-prev:before {
  color: #396d7c;
}

.slider-container .slick-next:before {
  color: #396d7c;
}

.slider-container {
  margin: 20px;
}

a {
  text-decoration: none;
 }
 
a:hover {
  text-decoration: underline;
  color: #03092E;
}

.slick-slide img {
  object-fit: cover;
  display: block;
  height: 65%;
  width: 100%;
}